name: Sync to Hugging Face Space

on:
  push:
    branches: [main] # Trigger on push to the 'main' branch

  # Allow manual workflow dispatch
  workflow_dispatch:

jobs:
  sync-to-space:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true

      # - name: Check large files
      #   uses: ActionsDesk/lfs-warning@v2.0
      #   with:
      #     filesizelimit: 10485760 # 10MB limit for HF Spaces

      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: git push https://${{ secrets.HF_USERNAME }}:${{ secrets.HF_TOKEN }}@huggingface.co/spaces/${{ secrets.HF_USERNAME }}/${{secrets.SPACE_NAME }} main
